body{
  

}

/* Global */
.container{
  color:aqua;
  background-color: black;

}

ul{
 

}

/* Header **/
header{
  

}

header a{
  

}

header li{
  

}

header #branding{
  

}

header #branding h1{
 

}

header nav{
  

}

header .highlight, header .current a{


}

header a:hover{
  

}

.footer{
  display: flex;
  border: 2px solid aqua;
  font-weight: 600 ;
  
}
.HT{
    /* padding: 45px; */
    margin:10px 20px;
    list-style: none;
    color:aqua; 
}
.T{
    background-color: aqua;
    color: blue;
}
.K{
    background-color: aqua;
    color: black;
}
img{
    font-weight: 300;
}